
body {
    background: #ffa17f;
    background: -webkit-linear-gradient(to right, #7aaad1, #f79205);
    background: linear-gradient(to right, #4a7da8, #c67050);
    overflow: hidden;
  }
  
  .star0 {
    height: 1px;
    width: 1px;
    opacity: 1;
    position: absolute;
  }
  
  .star1 {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  
  .star2 {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }
  
  .star3 {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
  }